<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<script>
   
</script>
<body class="container">
        
    <main>
        <div class="jumbotron">
                
                    <script>
                       myVar = JSON.parse('<%- JSON.stringify(drinks) %>');
                    </script>
                 
                <!-- <ul>
                    <% drinks.forEach(function(drink) { %>
                        <li><%= drink.name %> - <%= drink.drunkness %></li>
                    <% }); %>
                </ul> -->
        </div>
    </main>
 
</body>
</html>