<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<script>
   
</script>
<body class="container">
        
    <main>
        <div class="jumbotron">
                
                    <script>
                       myVar = JSON.parse('<%- JSON.stringify(user) %>');
                    </script>
                 
        </div>
    </main>
 
</body>
</html>