<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div>        
        <script>
                getRes = JSON.parse('<%- JSON.stringify(google) %>');
                getResJson = JSON.stringify(getRes);
                
                
                import JSONFormatter from '../../dist/json-formatter-js'
                const myJSON = {ans: 42};
                const formatter = new JSONFormatter(getResJson);
                document.body.appendChild(formatter.render());
        </script>
    </div>
</body>
</html>