<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div>        
        <pre id="json"></pre>
        <script>
                getRes = JSON.parse('<%- JSON.stringify(googleRes) %>');
                getResJson = JSON.stringify(getRes,null,3);
                document.getElementById("json").innerHTML = getResJson;
        </script>
    </div>
</body>
</html>